
.datePicker {
    position: relative;
    width: 157px;
    height: 34px;
    .inputWrap {
        border-radius: 34px;
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 4000;
        background-color: #5670D5;
        cursor: pointer;
        input {
            cursor: pointer;
            height: 100%;
            border: 0px;
            width: 100%;
            border-radius: 34px;
            color: #fff;
            padding-left: 42px;
            text-align: center;
            padding-right: 30px;
            font-size: 14px;
            background-color: transparent;
        }
        .placeholder{
            position: absolute;
            top: 8px;
            color: #A2B3C0;
            left: 42px;
        }
        i.icon-f-date {
            cursor: pointer;
            position: absolute;
            left: 16px;
            top: 9px;
            &:before {
                font-size: 16px;
                color: #fff;
            }
        }
        i.icon-f-clear{
            position: absolute;
            top: 10px;
            right: 40px;
            &:before{
                color:#8898A5;
            }
        }
        i.icon-f-down,i.icon-f-up{
            position: absolute;
            right: 0px;
            top: 6px;
            &:before{
                color: #4A4A4A;
                font-size: 26px;
            }
        }
        i.icon-f-up{
            top: 3px;
        }
    }
    .pickerWrap {
        z-index: 3000;
        position: absolute;
        width: 300px;
        height: 296px;
        background: #FFFFFF;
        box-shadow: 0 2px 8px 0 rgba(14,29,74,0.19);
        border-radius: 14px;
        padding-top: 44px;
        .header {
            height: 34px;
            line-height: 34px;
            .left,
            .right {
                width: 50%;
                position: relative;
                i {
                    cursor: pointer;
                    &.disable {
                        cursor: default;
                        &:before {
                            color:  rgba(199,213,217,.45);
                        }
                    }
                    &:before {
                        color: #4B61D9;
                        font-size: 13px;
                    }
                    &:not(.disable):hover {
                        &:before {
                            color: #A2B3C0;
                        }
                    }
                }
            }
            .left {
                float: left;
                text-align: left;
                padding-left: 16px;
                i.icon-f-left{
                    transform: scale(0.7) rotate(90deg);
                    -webkit-transform: scale(0.7) rotate(90deg);
                    -moz-transform: scale(0.7) rotate(90deg);
                    -ms-transform: scale(0.7) rotate(90deg);
                    -o-transform: scale(0.7) rotate(90deg);
                }
            }
            .right {
                float: right;
                text-align: right;
                padding-right: 16px;
                i.icon-f-right{
                    transform: scale(0.7) rotate(270deg);
                    -webkit-transform: scale(0.7) rotate(270deg);
                    -moz-transform: scale(0.7) rotate(270deg);
                    -ms-transform: scale(0.7) rotate(270deg);
                    -o-transform: scale(0.7) rotate(270deg);
                }
            }
            .yearSelect,
            .monthSelect {
                display: inline-block;
                width: 98px;
                position: relative;
                span.year,
                span.month {
                    cursor: pointer;
                    display: inline-block;
                    width: 76px;
                    height: 24px;
                    line-height: 23px;
                    text-align: center;
                    border: 1px solid #4B61D9;
                    border-radius: 2px;
                    color: #4B61D9;
                    position: relative;
                    i {
                        position: absolute;
                        top: 4px;
                        right: 2px;
                        &:before {
                            color: #4B61D9;
                        }
                    }
                }
                span.year{
                   padding-right: 10px; 
                }
                ul {
                    position: absolute;
                    background: #FFFFFF;
                    box-shadow: 0 2px 8px 0 rgba(14,29,74,0.19);
                    width: 75px;
                    z-index: 2000;
                    top: 28px;
                    max-height: 155px;
                    overflow: hidden;
                    text-align: left;
                    font-size: 12px;
                    cursor: pointer;
                    li {
                        height: 24px;
                        line-height: 24px;
                        padding-left: 10px;
                        &:hover:not(.active) {
                            background-color: #ECF0FF;
                        }
                        &.active {
                            color: #4B61D9;
                            font-weight: bold;
                        }
                    }
                }
            }
            .yearSelect {
                text-align: right;
                ul {
                    right: 0;
                    max-height: 220px;
                    overflow: hidden;
                }
            }
            .monthSelect {
                text-align: left;
                ul {
                    left: 1px;
                }
            }
        }
        .body {
            font-size: 12px;
            padding: 6px 12px 8px;
            height: 234px;
            text-align: center;
            table{
                width: 100%;
                border-spacing: 0;
            }
            thead {
                background-color: #ECF0FF;
                font-size: 12px;
                color: #4C5764;
                th {
                    height: 23px;
                }
            }
            tbody {
                tr:nth-child(1) {
                    td {
                        height: 34px;
                        span {
                            top: 7px;
                        }
                    }
                }

                td {
                    position: relative;
                    height: 28px;
                    padding: 1px 0;
                    span {
                        position: absolute;
                        top: 1px;
                        left: 0;
                        color: #C7D5D9;
                        display: inline-block;
                        width: 100%;
                        height: 30px;
                        line-height: 30px;
                        label {
                            height: 30px;
                            position: absolute;
                            z-index: 1000;
                            width: 100%;
                            text-align: center;
                            left: 0;
                            top: 0;
                            line-height: 30px;
                        }
                    }
                    &.thisMonth {
                        span {
                            color: #4B61D9;
                            label {
                                cursor: pointer;
                            }
                        }
                        &:hover:not(.disableDay) {
                            span {
                                &:before {
                                    content: "";
                                    width: 23px;
                                    height: 23px;
                                    border-radius: 23px;
                                    background-color: #5670D5;
                                    display: inline-block;
                                    position: absolute;
                                    z-index: 1000;
                                    left: 8px;
                                    top: 4px;
                                }
                                label {
                                    color: #fff;
                                }
                            }
                        }
                        &.curDay {
                            span {
                                &:before {
                                    content: "";
                                    width: 23px;
                                    height: 23px;
                                    border-radius: 23px;
                                    background-color: #5670D5;
                                    display: inline-block;
                                    position: absolute;
                                    z-index: 1000;
                                    left: 8px;
                                    top: 4px;
                                }
                                label {
                                    color: #fff;
                                }
                            }
                        }
                        &.disableDay {
                            span {
                                color: #D5E0E4;
                                label {
                                    cursor: default;
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        &.thisMonth {
                            &.endDay {
                                span {
                                    &:after {
                                        width: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            height: 42px;
            line-height: 42px;
            background-color: #fff;
            bottom: -32px;
            box-shadow: 0 2px 8px 0 rgba(14, 29, 74, 0.19);
            position: absolute;
            left:0;
            width: 100%;
            border-bottom-left-radius: 16px;
            border-bottom-right-radius: 16px;
            .tip{
                color:#45D6E9;
                font-size: 12px;
                margin-left:24px;
            }
            .inputs{
                position: absolute;
                left: 20px;
                top: 0;
                font-size: 12px;
                &.placeholder{
                    color: #A2B3C0;
                }
                span{
                    &:not(.icon-rightArrow){
                        border: 1px solid #DBE4EA;
                        border-radius: 2px;
                        width: 80px;
                        height: 26px;
                        line-height: 24px;
                        margin-right: 20px;
                        margin-top: 8px;
                        text-align: center;
                        display: inline-block;
                    }
                    &.icon-rightArrow{
                        position: absolute;
                        left: 120px;
                        top: 18px;
                    }
                }
            }
            .btns {
                float: right;
                .btn {
                    width: 70px;
                    height: 30px;
                    line-height: 28px;
                    margin-right: 10px;
                }
            }
        }
    }
}
.datePicker.formPicker{
    width: 300px;
    height: 36px;
    .inputWrap{
        background: #FFFFFF;
        border: 1px solid #4C5764;
        border-radius: 4px;
        box-shadow: none;
        input{
            color: #6B7C83;
            font-size: 14px;
            text-align: left;
            padding-left: 40px;
        }
        i.icon-f-date{
            &:before{
                color: #4C5764;
            }
        }
    }
    
    &.active,&.focus{
        .inputWrap{
            border-color:#4B61D9;
            box-shadow: 0 0 3px 0 rgba(75,97,217,0.63);
            i.icon-f-date{
                &:before{
                    color: #4B61D9;
                }
            }
        }
    }
}