/*date class has a prefix*/
$date-prefix:#{$css-prefix}date;
.#{$date-prefix}{
    position: relative;
    display:inline-block;
    width: $date-width;
    height: $date-height;
    .dateWrap {
        width: 100%;
        height: 100%;
        position: absolute;
        cursor: pointer;
        border-radius: $date-radius;
        z-index: $zindex-select+1;
        background-color: $date-background;
        .date {
            height: 100%;
            width: 100%;
            padding: 0 40px 0 42px;
            text-align: center;
            color: $date-color;
            font-size: $date-fontSize;
            line-height: $date-height;
        }
        .placeholder{
            position: absolute;
            top: 7px;
            left: 42px;
            color: $date-placeholder-color;
        }
        i.vsu-ion-calendar {
            cursor: pointer;
            position: absolute;
            left: 16px;
            top: 8px;
            &:before{
                color:$date-calendar-color;
                font-size: $date-calendar-fontSize;
            }
        }
        i.vsu-ion-close-circled{
            position: absolute;
            top: 9px;
            right: 28px;
            &:before{
                color:$date-close-circled-color;
                font-size: $date-close-circled-fontSize;
            }
            &:hover{
                &:before{
                    color:$date-close-circled-hover-color;
                }
            }
        }
        i.vsu-ion-arrow-down-b,
        i.vsu-ion-arrow-up-b{
            position: absolute;
            right: 12px;
            top: 9px;
            &:before{
                color:$date-arrow-color;
                font-size: $date-arrow-fontSize;
            }
            &.vsu-ion-arrow-up-b{
                top: 8px;
            }
        }
    }
    .pickerWrap {
        position: absolute;
        z-index: $zindex-select;
        width: $date-picker-width;
        height: $date-picker-height;
        background: $date-picker-background;
        box-shadow: $date-picker-shadow;
        border-radius: $date-picker-radius;
        padding-top: $date-height+10px;
        .header {
            height: $date-pickerHeader-height;
            line-height: $date-pickerHeader-height;
            .left,
            .right {
                width: 50%;
                position: relative;
                i.vsu-ion-arrow-left-b,
                i.vsu-ion-arrow-right-b {
                    &.disable {
                        &:before {
                            color:  $date-pickerHeader-arrow-disable-color;
                        }
                    }
                    &:before {
                        color: $date-pickerHeader-arrow-color;
                        font-size: $date-pickerHeader-arrow-fontSize;
                    }
                    &:not(.disable):hover {
                        cursor: pointer;
                        &:before {
                            color: $date-pickerHeader-arrow-hover-color;
                        }
                    }
                }
            }
            .left {
                float: left;
                text-align: left;
                padding-left: 16px;
            }
            .right {
                float: right;
                text-align: right;
                padding-right: 16px;
            }
            .yearSelect,
            .monthSelect {
                display: inline-block;
                width: 98px;
                position: relative;
                span.year,
                span.month {
                    cursor: pointer;
                    display: inline-block;
                    width: 76px;
                    height: 24px;
                    line-height: 23px;
                    text-align: center;
                    border: 1px solid #4B61D9;
                    border-radius: 2px;
                    color: #4B61D9;
                    position: relative;
                    i.vsu-ion-arrow-down-b,
                    i.vsu-ion-arrow-up-b {
                        position: absolute;
                        top: 4px;
                        right: 5px;
                        &:before {
                            color: #4B61D9;
                        }
                    }
                }
                span.year{
                   padding-right: 10px; 
                }
                ul {
                    position: absolute;
                    background: #FFFFFF;
                    box-shadow: 0 2px 8px 0 rgba(14,29,74,0.19);
                    width: 75px;
                    z-index: 2000;
                    top: 30px;
                    max-height: 155px;
                    overflow: hidden;
                    text-align: left;
                    font-size: 12px;
                    cursor: pointer;
                    li {
                        height: 24px;
                        line-height: 24px;
                        text-align: center;
                        &:hover:not(.active) {
                            background-color: #ECF0FF;
                        }
                        &.active {
                            color: #4B61D9;
                            font-weight: bold;
                        }
                    }
                }
            }
            .yearSelect {
                text-align: right;
                ul {
                    right: 0;
                    max-height: 220px;
                    overflow: hidden;
                    li{
                        padding-right: 10px;
                    }
                }
            }
            .monthSelect {
                text-align: left;
                ul {
                    left: 1px;
                }
            }
        }
        .body {
            font-size: 12px;
            padding: 6px 12px 8px;
            text-align: center;
            height: $date-pickerBody-height;
            table{
                width: 100%;
                border-spacing: 0;
            }
            thead {
                background-color: $date-pickerBody-thead-background;
                color: $date-pickerBody-thead-color;
                th {
                    height: $date-pickerBody-thead-height;
                    padding-top: 2px;
                }
            }
            tbody {
                tr:nth-child(1) {
                    td {
                        height: 34px;
                        span {
                            top: 7px;
                        }
                    }
                }

                td {
                    position: relative;
                    height: 28px;
                    padding: 1px 0;
                    span {
                        position: absolute;
                        top: 1px;
                        left: 0;
                        color: #C7D5D9;
                        display: inline-block;
                        width: 100%;
                        height: 30px;
                        line-height: 32px;
                        label {
                            height: 30px;
                            position: absolute;
                            z-index: 1000;
                            width: 100%;
                            text-align: center;
                            left: 0;
                            top: 0;
                            line-height: 32px;
                        }
                    }
                    &.thisMonth {
                        span {
                            color: #4B61D9;
                            label {
                                cursor: pointer;
                            }
                        }
                        &:hover:not(.disableDay) {
                            span {
                                &:before {
                                    content: "";
                                    width: 23px;
                                    height: 23px;
                                    border-radius: 23px;
                                    background-color: #5670D5;
                                    display: inline-block;
                                    position: absolute;
                                    z-index: 1000;
                                    left: 9px;
                                    top: 4px;
                                }
                                label {
                                    color: #fff;
                                }
                            }
                            &.behindDay{
                                span {
                                    &:before {
                                        left: 8px;
                                    }
                                }
                            }
                        }
                        &.curDay {
                            &.behindDay{
                                span {
                                    &:before {
                                        left: 8px;
                                    }
                                }
                            }
                            span {
                                &:before {
                                    content: "";
                                    width: 23px;
                                    height: 23px;
                                    border-radius: 23px;
                                    background-color: #5670D5;
                                    display: inline-block;
                                    position: absolute;
                                    z-index: 1000;
                                    left: 9px;
                                    top: 4px;
                                }
                                label {
                                    color: #fff;
                                }
                            }
                        }
                        &.disableDay {
                            span {
                                color: #D5E0E4;
                                label {
                                    cursor: default;
                                }
                            }
                        }
                    }
                    &:nth-child(1) {
                        &.thisMonth {
                            &.endDay {
                                span {
                                    &:after {
                                        width: 35px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .footer {
            position: absolute;
            left:0;
            width: 100%;
            bottom: -32px;
            height: $date-pickerFooter-height;
            line-height: $date-pickerFooter-height;
            background-color: $date-pickerFooter-background;
            box-shadow: $date-pickerFooter-shadow;
            border-bottom-left-radius: $date-pickerFooter-radius;
            border-bottom-right-radius: $date-pickerFooter-radius;
            .selectedDate{
                position: absolute;
                left: 20px;
                top: 0;
                font-size: 12px;
                &.placeholder{
                    color: #7ba4c0;
                }
                span{
                    color: #7ba4c0;
                    &:not(.icon-rightArrow){
                        border: 1px solid #DBE4EA;
                        border-radius: 2px;
                        width: 80px;
                        height: 26px;
                        line-height: 24px;
                        margin-right: 20px;
                        margin-top: 8px;
                        text-align: center;
                        display: inline-block;
                    }
                    &.icon-rightArrow{
                        position: absolute;
                        left: 120px;
                        top: 18px;
                    }
                }
            }
            .btns {
                float: right;
                .vsu-btn {
                    width: 70px;
                    height: 30px;
                    line-height: 10px;
                    margin-right: 10px;
                }
            }
        }
    }
}