$form-prefix:#{$css-prefix}form;
$input-prefix:#{$css-prefix}input;
.#{$form-prefix}{
    &-item{
        margin-bottom:22px;
        &-label{
            text-align: right;
            vertical-align: middle;
            float: left;
            font-size: 14px;
            color: #606266;
            line-height: 40px;
            padding: 0 12px 0 0;
            box-sizing: border-box;
        }
        &-content{
            line-height: 40px;
            position: relative;
            font-size: 14px;
        }
        &-required{
            .#{$form-prefix}-item{
                &-label{
                    &:before{
                        content: "*";
                        display: inline-block;
                        margin-right: 4px;
                        line-height: 1;
                        font-family: SimSun;
                        font-size: 12px;
                        color: #ed3f14;
                    }

                }
            }
        }
        &-error{
            .#{$input-prefix}{
                border-color: #f56c6c;
            }
        }
        &-error-tip{
            color: #f56c6c;
            font-size: 12px;
            line-height: 1;
            padding-top: 4px;
            position: absolute;
            top: 100%;
            left: 0;
        }
    }
    &-label{
        &-left{
            .#{$form-prefix}{
                &-item-label{
                    text-align:left
                }
            }
        }
        &-top{
            .#{$form-prefix}{
                &-item-label{
                    float: none;
                    display: inline-block;
                    text-align: left;
                    padding: 0 0 10px;
                }
            }
        }
    }
}