// Ionicons Variables
$icon-var-success: "\e927";
$icon-var-fail: "\e928";
$icon-var-inQueue: "\e925";
$icon-var-search: "\e8f7";
$icon-var-close: "\e91a";
$icon-var-arrow-up: "\e8f4";
$icon-var-arrow-down: "\e8fc";
$icon-var-trigger-right: "\e91f";
$icon-var-slideDown: "\e922";
$icon-var-index: "\e911";
$icon-var-menu1: "\e91b";
$icon-var-menu2: "\e91d";
$icon-var-menu3: "\e91c";
$icon-var-menu4: "\e906";
$icon-var-menu5: "\e92a";
$icon-var-menu6: "\e913";
$icon-var-menu7: "\e925";
$icon-var-menu8: "\e921";
$icon-var-menu9: "\e924";


$icon-var-img: "\e92d";
$icon-var-pkg: "\e92e";
$icon-var-excel: "\e930";
$icon-var-ppt: "\e931";
$icon-var-txt: "\e932";
$icon-var-word: "\e933";
$icon-var-other: "\e934";
