body{
    &>.container{ 
        padding: 60px 0 0 0; 
        height: 100%;
        font-size:14px;
        &>.content {
            position: relative;
            min-width: 1024px;
            height: 100%;
            overflow: hidden;
            width: 100%;
            box-sizing: border-box;
            background-color: #fff;
            &>.contentMain {
                overflow: auto;
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                position: relative;
                background-color: #fff;
                padding-left: 410px;
                padding-top: 60px;
                .main{
                    height: 100%;
                    width: 900px;
                    .title1{
                        font-size: 20px;
                    }
                    
                    /* module style */
                    .mItem{
                        border: 1px solid #ebebeb;
                        border-radius: 4px;
                        padding: 20px 12px 10px;
                        margin: 10px 0 30px;
                        &:hover{
                            -webkit-box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.06);
                            -o-box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.06);
                            -ms-box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.06);
                            box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.06);
                        }
                        .title2{
                            font-weight: bold;
                            margin: 5px 0 10px 0;
                        }
                        .q-title{
                            font-weight:14px;
                            margin:15px 0 5px 0;
                        }
                        .c-title{
                            font-weight:14px;
                            text-align:center;
                        }
                        pre{
                            padding: 0 12px;
                            background-color: rgba(75, 97, 217, 0.05);
                            color: #656566;
                            .comment{
                                color: #b2b2b3;
                                padding-bottom: 10px;
                                border-bottom: 1px solid #e5e8f9;
                            }
                        }
                    }
                }


            }
        }
        &.unFixedHeader{
            overflow: auto;
            &>.content {
                &>.contentMain {
                    overflow:hidden;
                }
            }
        }
    }
}
.sider > ul {
    overflow: auto;
    height: 100%;
}